.scale__brand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scale__brand-container {
    width: 95%;
    justify-content: center;
    text-align: center;
    margin-top: -2rem;
}


.scale__brand img {
    width: 95px;
    height: 45px;
    margin: 3rem;
    opacity: 0.7;
}

.scale__brand .etsy {
    width: 65px;
    height: 45px;
}

.scale__brand .sap {
    width: 65px;
    height: 45px;
}

.dividing-line {
    width: 100%;
    height: 1px;
    line-height: 24px;
    margin-top: 48px;
}

.scale__brand-container_investors {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
}

.scale__brand-container_investors img {
    width: 90px;
    height: 40px;
    margin-right: 5rem;
    opacity: 0.7;
}

.scale__brand-container_investors .carper {
    width: 98px;
    height: 35px;
}

h4 {
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    color: rgb(163, 163, 163);
    margin-top: 8px;
}

 .scale__brand-btn {
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    color: #fff;
     cursor: pointer;
     outline: none;
     padding: 0.5rem;
     border: none;
}

@media screen and (max-width: 1200px) {
    .scale__brand img {
        width: 90px;
        height: 35px;
        margin: 2rem;
        opacity: 0.7;
    }

    .scale__brand .etsy {
        width: 55px;
        height: 35px;
    }

    .scale__brand .sap {
        width: 55px;
        height: 35px;
    }

}


    @media screen and (max-width: 778px) {
   .scale__brand-container {
       width: 100%;
        margin: -10rem 0 0 0;
   }

    .scale__brand-container img {
        width: 90px;
        height: 40px;
    }

    .dividing-line {
        display: none;
    }
.scale__brand-container_investors {
    width: 80%;
}

.scale__brand-container_investors img {
        width: 80px;
        height: 30px;
    }

}


@media screen and (max-width: 550px) {
    .scale__brand {
        margin-top: -6rem;
        align-items: center;
        justify-content: center;
    }

}