.scale__automate {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 3rem;
}

.scale__automate-container {
    width: 506px;
    height: 589px;
    margin-top: 4.5rem;
    margin-left: 4rem;
}

.scale__automate img {
    width: 64px;
    height: 64px;
}

.scale__automate-subtext {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 21px;
    color: rgb(212, 212, 212, 212);
    margin-block-end: 20px;
    text-transform: uppercase;
    margin-top: 1rem;
}

.scale__automate h1 {
    font-family: var(--font-family_h1);
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 2px;
    max-width: 758px;
    font-weight: 400;
    color: #fff;
}

.scale__automate-desc {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 30px;
    color: rgb(212, 212, 212, 212);
    margin-top: 1rem;
}

.scale__automate-btn {
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0.5rem;
    border: none;
    margin-top: 1.5rem;
}


.scale__automate-containerBox {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-inline-start: 20px;
    min-height: 690px;
    max-width: 708px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.scale__automate-containerBox img {
    height: 500px;
    width: 590px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: grab;
    margin-right: 1.4rem;
}

@media screen and (max-width: 1200px) {
    .scale__automate {
        margin: 5rem 0;
    }

    .scale__automate-container {
        margin-top: -1rem;
    }

    .scale__automate-containerBox {
        align-items: center;
        justify-content: center;
    }

    .scale__automate-containerBox img {
        min-height: 415px;
        width: 450px;
        margin-right: 1.5rem;
    }


}


@media screen and (max-width: 1050px) {
    .scale__automate{
        width: 100%;
        flex-direction: column;
    }

    .scale__automate-container {
        width: 80%;
        height: 400px;
    }

    .scale__automate-containerBox {
        max-height: 540px;
        max-width: 520px;
        margin-top: 15rem;
    }

    .scale__automate-containerBox img {
        height: 370px;
        width: 310px;
        margin-right: 1rem;
    }
}
