.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    position: relative;
    top: 370px;
    left: 560px;
    font-size: 2rem;
    color: #ffffff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: relative;
    top: 370px;
    left: 70px;
    font-size: 2rem;
    color: #ffffff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}


@media screen and (max-width: 1200px) {
    .right-arrow {
        top: 300px;
        left: 300px;
    }

    .left-arrow {
        top: 300px;
        left: 170px;
    }
}

@media screen and (max-width: 1050px) {
    .right-arrow {
        top: 250px;
        left: 270px;
    }

    .left-arrow {
        top: 250px;
        left: 120px;
    }
}


@media screen and (max-width: 768px) {
    .right-arrow {
        top: 250px;
        left: 250px;
    }

    .left-arrow {
        top: 250px;
        left: 150px;
    }
}