#three-canvas-container {
    display: block;
    width: 512px;
    height: 512px;
}

/*.bg-transform-x-gradient {*/
/*    background: linear-gradient(*/
/*            90.13deg,*/
/*            #c96fa0 4.27%,*/
/*            #6b80d2 35.45%,*/
/*            #59bbcc 66.11%,*/
/*            #a2af72 96.25%*/
/*    );*/
/*}*/