.scale__header {
    display: flex;
    color: #ffffff;
   margin-top: 3rem;
}

.scale__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.scale__header-content h1 {
    font-family: var(--font-family_h1);
    font-weight: 100;
    font-size: 120px;
    line-height: 130px;
    letter-spacing: -0.04em;
}


.scale__header-content p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 29px;
    color: var(--color-text);
    margin-top: 5rem;
}


.scale__header-buttons button {
    flex: 0.6;
    width: 50%;
    min-width: 145px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-top: 3rem;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0.5rem;
    border: none;
}

.btn_start {
    background: #c88bc4;
}

.btn_sales {
    background: transparent;
}

/*.scale__header-img {*/
/*    flex: 1;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.scale__header-img img {*/
/*    width: 120%;*/
/*    height: 100%;*/
/*}*/

/*#canvas {*/
/*    width: 200px;*/
/*    height: 400px;*/
/*}*/





@media screen and (max-width: 768px) {
    .scale__header {
        flex-direction: column;
    }
    .scale__header-content h1 {
        margin-top: -2rem;
    }


}


@media screen and (max-width: 650px) {
    .scale__header h1 {
        font-size: 48px;
        line-height: 80px;
        margin-top: -2rem;
    }

    .scale__header p {
        font-size: 16px;
        line-height: 24px;
        margin-top: -0.5rem;
    }

}

@media screen and (max-width: 490px) {
    .scale__header h1 {
        font-size: 36px;
        line-height: 70px;
    }

    .scale__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .scale__header-buttons button {
        margin-top: 1.5rem;
        font-size: 14px;
        line-height: 18px;
    }


}