* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 50% 50%, rgba(255, 252, 252, 0.13) 53%, rgba(38, 38, 38, 0) 100%, rgba(0, 0, 0, 0) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 50% 50%, rgba(255, 252, 252, 0.13) 53%, rgba(38, 38, 38, 0) 100%, rgba(0, 0, 0, 0) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 50% 50%, rgba(255, 252, 252, 0.13) 53%, rgba(38, 38, 38, 0) 100%, rgba(0, 0, 0, 0) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 50% 50%, rgba(255, 252, 252, 0.13) 53%, rgba(38, 38, 38, 0) 100%, rgba(0, 0, 0, 0) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 50% 50%, rgba(255, 252, 252, 0.13) 53%, rgba(38, 38, 38, 0) 100%, rgba(0, 0, 0, 0) 100%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-transform-x-gradient {
  background: linear-gradient(
          90.13deg,
          #c96fa0 4.27%,
          #6b80d2 35.45%,
          #59bbcc 66.11%,
          #a2af72 96.25%
  )
}

.transform-x-avatar-color-overlay {
    background: linear-gradient(
            90.13deg,
            #9a78b9 0.11%,
            #6b80d2 35.45%,
            #59bbcc 66.11%,
            #7bb5a2 99.89%
    );
}

.text-transform-gradient {
    background: linear-gradient(
            90.13deg,
            #d1aad7 0.11%,
            #c88bc4 25.06%,
            #7b8fdd 50%,
            #86bff2 74.8%,
            #bbdef2 99.76%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-transform-x-gradient {
  background: linear-gradient(
          90.13deg,
          #c96fa0 4.27%,
          #6b80d2 35.45%,
          #59bbcc 66.11%,
          #a2af72 96.25%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.text-transform-full-gradient {
  background: linear-gradient(
          90.13deg,
          #d1aad7 4.27%,
          #c88bc4 35.45%,
          #7b8fdd 66%,
          #dfe8e8 95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    display: initial;
}


.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 2rem 4rem;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }

}


@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }

}